<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="ArtStore Logo">
            </div>
            <h3>ArtStore</h3>
            <p>Tu tienda de arte en línea</p>
        </div>
        
        <div class="footer-section">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'productos_por_categoria' 'obras' %}">Obras Originales</a></li>
                <li><a href="{% url 'productos_por_categoria' 'suministros' %}">Suministros</a></li>
                <li><a href="{% url 'artistas' %}">Artistas</a></li>
                <li><a href="{% url 'crear_encargo' %}">Encargos</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Contacto</h4>
            <ul>
                <li><i class="fas fa-envelope"></i> info@artstore.com</li>
                <li><i class="fas fa-phone"></i> (55) 1234-5678</li>
                <li><i class="fas fa-map-marker-alt"></i> Ciudad de México</li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; {% now "Y" %} ArtStore - Todos los derechos reservados</p>
        <p>Garcia Galaviz Melanie Elizabeth - 5-I - 0583</p>
        <p>M.E.E. Leitch Meza Díaz - Construye Aplicaciones WEB</p>
    </div>
</footer>